.sidebar {
    position: absolute;
    left: 24%; /* جعله على يمين الـ Hierarchy */
    top: 50px;
    max-height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow icons to wrap to the next line */
    gap: 10px;
    z-index: 1;
    overflow-y: auto; /* Allows scrolling if the content exceeds the max-height */
}


.tool-btn {
    width: 32px;
    height: 25px;
    display: flex;
    background-color: #555;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 6px;
}


.tool-btn:hover {
    background: #615e5e;
}


.effect-button{
    background: #005f50;
    padding: 5px 8px;
    color: #fff;
    border: none;

}

.effect-button:hover{
    background: #129e89;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,4);
  
}
